<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>Ads Letter</title>


  @vite(['resources/ts/app.ts', `resources/views/${page.component}.svelte`])
  @inertiaHead()
  @stack('dumper')
</head>

<body>
  @inertia()
</body>

</html>